In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [23]:
dataset = pd.read_csv('BankCustomers.csv')

In [24]:
X = dataset.iloc[:, 3:13]#.values
y = dataset.iloc[:, 13]#.values

In [20]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [25]:
states = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [26]:
X = X.drop(['Geography', 'Gender'], axis = 1 )

In [27]:
X = pd.concat([X, states, gender], axis=1)

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
import keras
from keras.models import Sequential
from kerad.layers import Dense

In [ ]:
classifier = Sequential()
classifier.add(Dense(activation='relu', input_dim=11, units = 6, kernel_initializer = 'uniform'))

classifier.add(Dense(activation='relu', units = 6, kernel_initializer = 'uniform'))

classifier.add(Dense(activation='sigmoid', units = 6, kernel_initializer = 'uniform'))

classifier.compile(optimizer = 'adam', loss='binary_crossentropy', metrics = ['accuracy'])

In [ ]:
classifier.fit(X_train, y_train, batch_size=10, nb_epoch=100)

In [ ]:
y_pred = classifier.predict(X_test)
y_pred  = (y_pred  > 0.5)

In [34]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)